%aside#sidebar.w-56.inset-0.z-20.flex-none.h-auto
	.px-3.overflow-y-auto.rounded
		%ul
			%li.mt-8
				%h5.mb-2.font-semibold.text-gray-900 일반
				%ul
					%li 
						%a.flex.items-center.py-2.text-base.font-normal.text-gray-500.rounded-lg.hover:text-gray-900(href=dashboard_root_path)
							= heroicon "view-grid", variant: current_page?(dashboard_root_path) ? :solid : :outline, options: { class: "flex-shrink-0 w-6 h-6"}
							%span.ml-3 대시보드
					%li
						%a.flex.items-center.py-2.text-base.font-normal.text-gray-500.rounded-lg.hover:text-gray-900(href=edit_user_registration_path)
							= heroicon "identification", variant: current_page?(edit_user_registration_path) ? :solid : :outline, options: { class: "flex-shrink-0 w-6 h-6"}
							%span.ml-3 계정
			- if current_user.admin?
				%li.mt-8
					%h5.mb-2.font-semibold.text-gray-900 관리
					%ul
						%li
							%a.flex.items-center.py-2.text-base.font-normal.text-gray-500.rounded-lg.hover:text-gray-900(href=dashboard_users_path) 
								= heroicon "user-group", variant: current_page?(dashboard_users_path) ? :solid : :outline, options: { class: "flex-shrink-0 w-6 h-6"}
								%span.ml-3 사용자 관리	
						%li
							%a.flex.items-center.py-2.text-base.font-normal.text-gray-500.rounded-lg.hover:text-gray-900(href=dashboard_plans_path) 
								= heroicon "calendar", variant: current_page?(dashboard_plans_path) ? :solid : :outline, options: { class: "flex-shrink-0 w-6 h-6"}
								%span.ml-3 플랜 관리
						%li
							%a.flex.items-center.py-2.text-base.font-normal.text-gray-500.rounded-lg.hover:text-gray-900(href=dashboard_faqs_path) 
								= heroicon "support", variant: current_page?(dashboard_faqs_path) ? :solid : :outline, options: { class: "flex-shrink-0 w-6 h-6"}
								%span.ml-3 FAQ 관리							
