%h2 비밀번호를 잊으셨나요?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email, "이메일"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .actions
    = f.submit "비밀번호 재설정 안내 요청"
= render "devise/shared/links"
