= paginator.render do
	%nav.pagination.my-4(aria-label="pager" role="navigation")
		%ul.inline-flex.items-center.-space-x-px
			%li
				= first_page_tag
			%li 
				= prev_page_tag
			- each_page do |page|
				%li 
					- if page.display_tag?
						= page_tag page
					- elsif !page.was_truncated?
						= gap_tag
			- unless current_page.out_of_range?
				%li
					= next_page_tag
				%li
					= last_page_tag
