%h2.my-6.text-3xl.text-black.leading-tight.font-bold 로그인
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
	.mb-6
		= f.label :email, "이메일", class: "block mb-2 text-sm font-medium text-gray-900"
		= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
	.mb-6
		= f.label :password, "비밀번호", class: "block mb-2 text-sm font-medium text-gray-900"
		= f.password_field :password, autocomplete: "current-password", class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
	- if devise_mapping.rememberable?
		.flex.items-center.mb-6
			= f.check_box :remember_me, class: "w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300"
			.ml-3.text-sm
				= f.label :remember_me, "로그인 상태 유지", class: "font-medium text-gray-900"
	.mb-6
		= f.submit "로그인", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
= render "devise/shared/links"
