%nav.bg-white.border-gray-200.px-2.sm:px-4.rounded.sticky.top-0.z-40.shadow-sm.py-2.5
	.container.flex.flex-wrap.justify-between.items-center.mx-auto
		%a.flex(href= root_path)
			= image_tag 'logo.png', class: 'h-8'
		.flex.items-center.md:order-2
			%button#user-menu-button.flex.mr-3.text-base.bg-gray-100.rounded-full.md:mr-0.focus:ring-4.focus:ring-gray-300(aria-expanded="false" data-dropdown-toggle="nav-dropdown" type="button")
				%span.sr-only Open Menu
				= heroicon "user", options: { class: "p-1.5" }
			#nav-dropdown.hidden.z-50.my-4.text-base.list-none.bg-white.rounded.divide-y.divide-gray-100.shadow
				- if current_user
					.py-3.px-4
						%span.block.text-sm.text-gray-900 환영합니다.
						%span.block.text-sm.font-medium.text-gray-500.truncate= current_user.email
					%ul.py-1(aria-labelledby="dropdown")
						%li
							%a.block.py-2.px-4.text-sm.text-gray-700.hover:bg-blue-500.hover:text-white(href=dashboard_root_path) 대시보드
						%li
							= button_to "로그아웃", destroy_user_session_path, method: :delete, form_class: "block py-2 px-4 text-sm text-gray-700 hover:bg-blue-500 hover:text-white"
				- else
					%ul.py-1(aria-labelledby="dropdown")
						%li
							%a.block.py-2.px-4.text-sm.text-gray-700.hover:bg-blue-500.hover:text-white(href=new_user_session_path) 로그인
						%li
							%a.block.py-2.px-4.text-sm.text-gray-700.hover:bg-blue-500.hover:text-white(href=new_user_registration_path) 회원가입
			%button.inline-flex.items-center.p-2.ml-1.text-sm.text-gray-500.rounded-lg.md:hidden.hover:bg-gray-100.focus:outline-none.focus:ring-2.focus:ring-gray-200(aria-controls="mobile-nav" aria-expanded="false" data-collapse-toggle="mobile-nav" type="button")
				%span.sr-only Open main menu
				= heroicon "menu", options: { class: "w-6 h-6" }
		#mobile-nav.hidden.justify-between.items-center.w-full.md:flex.md:w-auto.md:order-1
			%ul.flex.flex-col.mt-4.md:flex-row.md:space-x-24.md:mt-0.md:text-base.md:font-bold
				%li
					%a.block.py-2.pr-4.pl-3.text-gray-700.border-b.border-gray-100.hover:bg-gray-50.md:hover:bg-transparent.md:border-0.md:hover:text-blue-700.md:p-0(href="/plans") 플랜
				%li
					%a.block.py-2.pr-4.pl-3.text-gray-700.border-b.border-gray-100.hover:bg-gray-50.md:hover:bg-transparent.md:border-0.md:hover:text-blue-700.md:p-0(href="/trial") 체험
				%li
					%a.block.py-2.pr-4.pl-3.text-gray-700.border-b.border-gray-100.hover:bg-gray-50.md:hover:bg-transparent.md:border-0.md:hover:text-blue-700.md:p-0(href=faqs_path) 도움말
