!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 이카루스
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind"
    = stylesheet_link_tag "application"
  %body
	- if notice
		%p.notice= notice
	- elsif alert
		%p.alert= alert
    = yield
